* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
main {
  margin: 0;
  background-color: lightcyan;
  padding: 0.25em;
}

/*
    This section is for the header part where my big title is
*/
header {
  padding: 1.5em;
  background-color: pink;
}
h1 {
  font-size: 2rem;
  text-align: center;
}

#subheading {
  display: block;
  font-size: 1rem;
  margin-top: 0.75em;

  
}
/*
  This part is for what goes inside the main block which is the 
  description and the application div.
*/


#description {
  max-width: 700px;
  display: block;
  margin: 1em auto;
  padding: 0.7em;
  width: 90%;
  text-align: center;
  background-color: lightblue;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: 5px;
}

#task-bar {
  display: block;
  margin: 1em auto 0.25em auto;
  width: 90%;
  background-color: lightblue;
  border-radius: 5px;
  padding: 0.3em;
  max-width: 700px;
  
}

#common-variables-dropdown-button {
  padding: 1em;
  font-size: 0.8rem;
  background-color: whitesmoke;
  border: none;
  border-radius: 4px;
}

#common-variables-dropdown-button:active {
  background-color: lightslategray;

}

#application {
  max-width: 700px;
  width: 90%;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  padding: 1em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 2em;

}

/*
  This is the calculator section
*/

#calculator {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#inputs-container {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  border-radius: 5px;
}

.history-input {
  width: 100%;
  padding: 1em;
  border: none;
}

#main-input {
  border: 1px solid black;
}

#input-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#calculator button {
  height: 3em;
  border: 1px solid black;
  background-color: whitesmoke;

}

#calculator button:active {
  background-color: lightgray;
}


/*
  This is the variable storing section
*/



#variable-store {
  width: 50%;
  display: flex;
  flex-direction: column;


}

.pair {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;


}

.pair .key,
.pair .value,
.pair button
{
  padding: 1em;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 5px;
}
.pair .key {
  width: 25%;
}
.pair .value {
  width: 45%;
}
.pair button {
  width: 15%;
  color: red;
  font-weight: bold;
}

.pair button:active {
  background-color: lightgray;
}

#verify-pairs {
  margin-top: 1em;
  width: 50%;
  padding: 1em;
  align-self: center;
}
